table {
    margin: auto;
    width: 100% !important; 
 }

tbody, th
{
   text-align: center !important; 
   overflow: hidden;
}

body 
{
   font: 18px Raleway, sans-serif !important;
}

a, a:hover, a:active, a:visited { color: white; }

 