table {
    margin: auto;
    width: 50% !important; 
 }

tbody, th
{
   text-align: center !important; 
   overflow: hidden;
   white-space: nowrap;
}

body 
{
   font: 18px Raleway, sans-serif !important;
}

a, a:hover, a:active, a:visited { color: white; }

 