table {
    /* margin: auto; */
      width: 60% !important; 
      align-content: center !important;
      text-align: center !important;
 }

tbody, th
{
   /* text-align: center;  */
   /* overflow: hidden; */
}

body 
{
   font: 18px Raleway, sans-serif !important;
}

a, a:hover, a:active, a:visited { color: white; }

.alignleft { text-align: left !important; }

 