table {
    margin: auto;
    width: 80% !important; 
 }

tbody, th
{
   text-align: center !important; 
   overflow: hidden;
   white-space: nowrap;
}
td
{
}
 body 
 {
    font: 18px Raleway, sans-serif !important;
 }
 

 