{% extends "base.html" %}
{% block app_content %}
        <h1>Control Panel</h1>
        <h3 class = "text-center">User List</h3>
        <table class = "table table-striped table-hover table-bordered table-responsive">
         <thead>
                <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Modify</th>
                </tr>
         </thead>
         <tbody>
                        {% for u in user %}
                        <tr>
                        <td>{{u.id}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                        
                        <form action="" method="post">
                        <td><a href="{{ url_for('deleteuser', id=u.id) }}"><button class = "btn btn-secondary btn-sm btn-danger">{{ ('Delete') }}</a></button></td>
                        </form></tr> 
                        {% endfor %}
        </tbody>
        </table>
{% endblock %}