{% extends "base.html" %}
{% block app_content %}
        <h1>Control Panel</h1>
        <h3 class = "text-center">User List</h3>
        <table class = "table table-striped table-hover table-bordered">
         <thead>
                <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Modify</th>
                </tr>
         </thead>
         <tbody>
                        {% for u in user %}
                        <tr>
                        <td>{{u.id}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                        <td><button type = "button" class = "btn-danger btn btn-primary btn-sm">Delete</button></td>     
                        </tr> 
                        {% endfor %}
        </tbody>
        </table>
{% endblock %}