{% extends "base.html" %}
{% block app_content %}
        <br>
        <form class = "formcontainer" action="" method="post">
            <h3 class = "form_class">Create a new adventure</h3>
            <br>
            {{ form.hidden_tag() }}
            <fieldset>
                {{ form.tour_name(class_ = "simpleform", placeholder = "Name of the tour.")}}<br>
                {% for error in form.tour_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </fieldset>
            <fieldset>
                {{ form.tour_description(class_ = "simpleform", placeholder = "What is it about?")}}<br>
                {% for error in form.tour_description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </fieldset>
            <fieldset>
                {{ form.tour_location(class_ = "simpleform", placeholder = "Where are we going?")}}<br>
                {% for error in form.tour_location.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </fieldset>

            <fieldset>
                {{ form.tour_price(class_ = "simpleform", placeholder = "How much?")}}<br>
                {% for error in form.tour_price.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </fieldset>
            <fieldset>
                {{ form.start_date(class_ = "simpleform", placeholder = "When does it start?")}}<br>
                {% for error in form.start_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </fieldset>
            <fieldset>
                {{ form.end_date(class_ = "simpleform", placeholder = "When does it end?")}}<br>
                {% for error in form.end_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </fieldset>
            <fieldset>{{ form.submit(class_ = "simpleform submit") }}</fieldset>
        </form>
    </div>
{% endblock %}