{% extends "base.html" %}
{% block app_content %}
<br>
    <form class = "formcontainer" action="" method="post">
        <h3 class = "form_class">Edit your profile.</h3>
        {{ form.hidden_tag() }}
        <fieldset>
            {{ form.username.label }}<br>
            {{ form.username(class_ = "simpleform")}}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            {{ form.name.label }}<br>
            {{ form.name(class_ = "simpleform")}}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            {{ form.email.label }}<br>
            {{ form.email(class_ = "simpleform")}}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            {{ form.description.label }}<br>
            {{ form.description(class_ = "simpleform")}}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            {{ form.password.label }}<br>
            {{ form.password(class_ = "simpleform")}}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>{{ form.submit(class_ = "simpleform submit") }}</fieldset>
    </form>
{% endblock %}