{% extends "base.html" %}
{% block app_content %}
        <h1>Hi there, {{ user }}! </h1>

        <h3>List of upcoming tours...</h3>
        <div class = "table-responsive">
        <table class = "table table-striped table-hover table-bordered table-responsive align-middle">
         <thead>
                <tr>
                        <th>ID</th>
                        <th>Tour Name</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Ratings</th>
                        <th>Join Tour</th>
                </tr>
         </thead>
         <tbody>
                        {% for tour in tours %}
                        <tr>
                            <td>{{tour.id}}</td>
                            <td>{{tour.tour_name}}</td>
                            <td>{{tour.tour_location}}</td>
                            <td>{{tour.tour_price}}</td>
                            <td>{{tour.start_date}}</td>
                            <td>{{tour.end_date}}</td>
                            <td>
                                <div class="star-rating main" data-toggle = "tooltip" data-placement="right" title = "{{ tour.ratings }}  stars" > 
                                <span class="fa fa-star-o" data-rating="1"></span>
                                <span class="fa fa-star-o" data-rating="2"></span>
                                <span class="fa fa-star-o" data-rating="3"></span>
                                <span class="fa fa-star-o" data-rating="4"></span>
                                <span class="fa fa-star-o" data-rating="5"></span>
                                <input type="hidden" name="rating-stars" class="rating-value" value="{{ tour.ratings }}">
                                </div>
                            </td>
                            <td>
                                <form action= "submit" method="get">
                                <a href="{{ url_for('viewtour', id=tour.id) }}"><button class = "btn btn-secondary btn-sm btn-success">{{ ('View') }}</a></button>
                                {% if current_user.id == tour.user_id or current_user.access == 'admin' %}
                                    <hr><a href="{{ url_for('deletetour', id=tour.id) }}"><button class = "btn btn-secondary btn-sm btn-danger">{{ ('Delete') }}</a></button>
                                {% endif %}
                                </form>
                            </td>
                        </tr> 
                        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}