{% extends 'base.html' %}

{% block app_content %}
    <br>
    <form class = "formcontainer" action="" method="post" novalidate>
        <h3 class = "form_class">Sign in.</h3>
        {{ form.hidden_tag() }}
        <fieldset>
            {{ form.username(class_ = "simpleform", placeholder = "Username.")}}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>
            {{ form.password(class_ = "simpleform", placeholder = "Your password")}}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <fieldset>{{ form.submit(class_ = "simpleform submit") }}</fieldset>
    <fieldset>New User? <a style = "color:black;" href="{{ url_for('register') }}">Register here!</a></fieldset>
    </form>
{% endblock %}