{% extends "base.html" %}
{% block app_content %}
        
        <div class = "table-responsive">
                <table class = "table table-striped table-hover table-bordered">
                <h3>User: {{ user.username }}</h3>
                <tr>
                        <th>Username</th>
                        <td>{{user.username}}</td>
                </tr>
                <tr>
                        <th>Name</th>
                        <td>{{user.name}}</td>
                </tr>
                <tr>
                        <th>Email</th>
                        <td>{{user.email}}</td>
                </tr>
                <tr>
                        <th>Description</th>
                        <td>{{user.description}}</td>
                </tr>
                <tr>
                        <th>Ratings</th>
                        <td>
                        {% if current_user.id == user.id %}
                        <div class="star-rating main" data-toggle = "tooltip" data-placement="bottom" title = "{{ user.ratings }}  stars" > 
                        {% else %}
                        <div class="star-rating" data-toggle = "tooltip" data-placement="bottom" title = "{{ user.ratings }}  stars - Rate me?" > 
                        {% endif %}
                        <span class="fa fa-star-o" data-rating="1"></span>
                        <span class="fa fa-star-o" data-rating="2"></span>
                        <span class="fa fa-star-o" data-rating="3"></span>
                        <span class="fa fa-star-o" data-rating="4"></span>
                        <span class="fa fa-star-o" data-rating="5"></span>
                        
                        {% if current_user.id != user.id %}
                        <input type="hidden" id = "rating_system" text = "{{ url_for('rateprofile', id = user.id) }}" class="rating-value" value="{{ user.ratings }}">
                        {% else %}
                        <input type="hidden" class="rating-value main" value= "{{ user.ratings }}">
                        {% endif %}
                        </td>
                </tr>
                <tr>
                        {% if current_user.id == user.id %}
                        <th>Edit your profile</th>
                        <form action= "" method="post">
                            <td><a href="{{ url_for('editprofile', id=user.id) }}"><button type = "submit" class = "btn btn-secondary btn-sm btn-danger">{{ ('Edit') }}</a></button></td>
                        </form>
                        {% endif %}
                </tr>
        </tbody>
        </table>
        </div>
        
        {% if tour_participation %}
                        <form id = "feedback"  method="post">        
                                {{ form.hidden_tag() }}
                                <p>
                                    {{ form.tour_feedback.label }}<br>
                                    {{ form.tour_feedback(cols = "50", rows = "5") }}<br>
                                    {% for error in form.tour_feedback.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p>{{ form.submit() }}</p>
                        </form>

        {% endif %}

        </tbody>
        </table>
        </div>
{% endblock %}